[Unit]
Description=Pi Light Customizable Service
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3.5 /home/pi/Documents/GitHub/ty-pi-light/py/customizable.py

[Install]
WantedBy=multi-user.target
