[Unit]
Description=Pi Light API Service
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=cd /home/pi/Documents/GitHub/ty-pi-light && sudo /usr/bin/node app.js

[Install]
WantedBy=multi-user.target
